# Lists

## Introduction

A list is an ordered collection of objects of any type. You can have lists of floats, strings, objects made from classes you've defined, etc. You can even have lists contain other lists. You're allowed to mix the types of objects in a list, for example you can have a list that contains both integers and strings.

Most lists contain multiple values, but we can have lists of one or zero values, which can be useful. Here are a few lists for you to interact with.

In [ ]:
some_primes = [2,3,5,7,11,13,17,19,23,29,31] #list with integers
some_names = ["Groucho","Harpo","Chico","Zeppo","Karl"] #list with strings
some_stuff = [98, "Fido", -34.925, ["Phantom", "Tollbooth"]] #list with a mix of integer, string, float, and nested list objects
one = ["just me"] #a singleton list
zero = [] #an empty list

## len

With lists, *len()* returns the number of elements in the list:

In [ ]:
len(["Mary","had","a","little","lamb"])

In [ ]:
count = [1,2,3,4,5]
len(count)

## Indexing and Slicing

Indexing and slicing work the same with lists as they do with strings. For example, try entering these commands by typing them to the right of the little red arrow above. (Enter one line at a time.)

In [ ]:
some_primes[0]

In [ ]:
some_primes[0:10:2]

In [ ]:
some_names[::-2]

When you index into a nested list to get a sublist, you can then index into that list. Try entering the following to get the list within *some_stuff*, then the item 'Tollbooth' within that sublist, and then its first character:

In [ ]:
some_stuff[3]

In [ ]:
some_stuff[3][1]

In [ ]:
some_stuff[3][1][0]

## in, not in

Also like strings, we can use *in* and *not in*. With these two operators, the second operand can be of any iterable type, which includes both strings and lists, and the first operand can be of any type at all, including iterable types. Try these examples to see for yourself:

In [ ]:
13 in some_primes

In [ ]:
13 not in some_primes

In [ ]:
"Fido" in some_stuff

In [ ]:
"Phantom" in some_stuff

In [ ]:
"Phantom" in some_stuff[3]

What happened with those last two examples? The string "Phantom" is not in *some_stuff* - it's in a list that's in *some_stuff*. That list is at index 3, so we were able to find it there.

Let's look at some more things we can do, with new list examples.

In [ ]:
odds = [7, 5, 9, 1, 13, 11, 3] #odd numbers
evens = [8, 4, 10, 6, 2] #even numbers
palindromes = ["hannah", "tacocat", "bob", "mom", "dad"]

## min and max, sort

There are min and max functions we can use. Try these:

In [ ]:
min(odds)

In [ ]:
max(palindromes)

The min and max functions wouldn't make sense for things like *some_stuff* in the first set of list examples, since Python doesn't know how to compare the different types in that list. There's also a sort function we can use.

In [ ]:
evens.sort()

In [ ]:
palindromes.sort()

You'll notice that nothing prints out when you try those. But now look at the lists again:

In [ ]:
evens

In [ ]:
palindromes

The sort function also wouldn't make sense for *some_stuff* - again because Python doesn't know how to compare the different types in that list. (Try it and see!)

In [ ]:
# Experiment here

## Concatenation

We can concatenate lists with the + operator.

In [ ]:
evens + odds

Here's one more list example for us to practice on.

In [ ]:
fun_floats = [3.141, 2.718, 6.283, 1.618, 1.414, 2.502, 0.577, 1.303, 2.685, 1.282]

## Iterating through a List

Lists are iterable, so we can use a for loop to access each element. For example, try this loop:

In [ ]:
for number in fun_floats:
    print(number)

The following loop prints out the total of the values in the list:

In [ ]:
total = 0
for number in fun_floats:
    total += number
    print(total)

## Lists of Objects

Let's reintroduce the BankAccount class we defined in Module 5:

In [ ]:
class BankAccount:    
    """    
    Represents a bank account that the user can deposit money to and    withdraw money from.    
    """
    
    def __init__(self, account_ID, balance):        
        """
        Creates a bank account object with an account ID and balance.
        """        
        self._account_ID = account_ID        
        self._balance = balance    
    
    def get_account_ID(self):        
        """
        Returns the account ID.
        """        
        return self._account_ID    
    
    def set_account_ID(self, new_ID):        
        """
        Sets the account ID to a new value.
        """        
        self._account_ID = new_ID    
  
    def get_balance(self):        
        """
        Returns the current balance.
        """        
        return self._balance    
  
    def deposit(self, amount):        
        """
        Deposits the specified amount into the account.
        """        
        self._balance += amount    
  
    def withdraw(self, amount):        
        """
        Withdraws the specified amount from the account.
        """        
        self._balance -= amount

We can make a list of BankAccount objects (which we defined in Module 5) like this:

In [ ]:
account_1 = BankAccount("235349", 730.29)
account_2 = BankAccount("783848", 240.89)
account_3 = BankAccount("732005", 1390.20)
account_list = [account_1,account_2,account_3]

What if we want to access the balance of the first account in the list?  We can do that like this:

In [ ]:
account_list[0].get_balance()

Where *account_list[0]* gives us a BankAccount object and *.get_balance()* returns the balance of that object.

## List Comprehensions

List comprehensions are a concise way to construct a new list by applying some transformation to an existing list (or other iterable type). For example, the following code creates a new list whose elements are double the elements in *fun_floats*:

In [ ]:
fun_floats_doubled = [2 * n for n in fun_floats]

Here's a similar example that works from a range instead of a list:

In [ ]:
[2*x for x in range(1,11)]

We can optionally filter out certain values from the original list (or other iterable).

In [ ]:
[2*x for x in range(1,11) if x % 2 == 1]

In this example, the original iterable was a range. If a value in that range is odd (the remainder of dividing by 2 is 1), then we apply the transformation (multiplying by 2). Note that values are filtered out **before** the transformation is applied. If we had doubled the numbers and then filtered out the even ones, then the new list would have been empty.

We can also use a list comprehension to filter without applying a transformation:

In [ ]:
nums = [1,2,3,4,5,6,7,8,9]
[x for x in nums if x % 3 == 0]

Don't let this new use of the **for** and **if** keywords confuse you. List comprehensions are a separate thing from for loops and if statements.

## Exercises

1. Write a function named *every_other* that takes as a parameter a list and returns a list that only contains every other element starting with the first one. For example, if the original list is [7, "joe", "apple", 9.81, False], then the new list should be [7, "apple", False]. Use slicing.

In [ ]:
# Type code here

2. Write a function named *array_sum* that takes as a parameter a list of strings and returns the total number of characters in all the strings.

In [ ]:
# Type code here

3. Write a function named *rev_string_list* that takes as a parameter a list of strings and returns a list that contains the reverse of each of those strings. Use a list comprehension.

In [ ]:
# Type code here

4. Write a function named *contain_string* that takes as a parameter a list of strings and the target string, and returns a list of the strings from the original list that contain the target string. Use a list comprehension.  As an example, if the function call is contain_string(['cats', 'tacks', 'scat', 'stack'], 'cat), then the return value should be ['cats', 'scat'], because 'cats' and 'scat' both contain 'cat'.

In [ ]:
# Type code here